/* Estilos gerais */
body {
    background-color: #181818;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Cabeçalho e menu */
header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 99%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #181818; 
    z-index: 1000; 
}

#inicio{
    text-decoration: none;
}

header h1 {
    color: #fca311;
    margin: 20px;
    text-decoration: none;
}

.menu {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.menu li a {
    font-weight: bold;
    color: #fca311;
    text-decoration: none;
    padding: 14px 20px;
}

hr {
    border: none;
    height: 2px;
    background-color: #fca311;
    margin-top: 80px;
}

/* Seção de introdução */
#intro {
    display: flex;
    align-items: center;

    margin: auto;
    width: 800px;
    height: 450px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: white;
    font-weight: bold;
    font-size: 3em;
}

#intro > p {
    margin-right: 200px;
}

#intro > p > span {
    color: #fca311;
}

img.perfil {
    width: 250px;
    background-color: rgba(0, 0, 0, 0.438);
    border-radius: 50%;
    border: 3px solid #fca311;
}

/* Seção sobre */
#sobre {
    margin: 80px auto;
    width: 800px;

    border-radius: 8px;

    margin-top: 150px;
    padding: 20px;
    border: 5px solid #fca311;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#sobre h2 {
    font-size: 28px;
    color: #fca311;
    text-align: center;
    margin-bottom: 15px;
}

#sobre p {
    font-size: 18px;
    line-height: 1.6;
    color: white;
    text-align: justify;
}

/* Portifólio */
#portifolio h2 {
    font-size: 28px;
    color: #fca311;
    text-align: center;
    margin-bottom: 15px;
}

#projetos {
    display: flex;
    overflow-x: auto; 
    gap: 20px; 
    padding: 20px;
}

.caixa {
    flex: 0 0 auto; 
    height: 300px;
    width: 300px;
    border: 5px solid #fca311;
    border-radius: 20px;
    background-color: white;
}

#um{
    cursor: pointer;
    background-image: url(imagens/059f419c-1c0d-41fb-aac7-d3e21d5887fa.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#dois{
    cursor: pointer;
    background-image: url(imagens/e37f933e-bc5f-4872-9095-923e1806c4e6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#tres{
    cursor: pointer;
    background-image: url(imagens/54b4b031-7be7-45c6-8fa9-c80d4a0b8601.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#quatro{
    cursor: pointer;
    background-image: url(imagens/3f9fc933-7ef9-4656-81b4-ea1f6c592aff.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cinco {
    cursor: pointer;
    background-image: url(imagens/c881d7fa-b677-4318-8543-abdd820af731.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Rodapé */
footer {
    background-color: #181818;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1em;

    margin-top: 100px;
}
