body {
    background-color: #181818;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fca311;
    margin: 20px;
}

.menu {
    display: flex;
    gap: 20px; 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fca311;
    text-decoration: none;
    padding: 14px 20px;
}

hr {
    border: none;
    height: 2px;
    background-color: #fca311;
}
/* Introdrução */

.intro {
    display: flex;
    align-items: center;

    margin: auto;
    width: 800px;
    height: 450px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: white;
    font-weight: bold;
    font-size: 3em;
}

.intro > p {
    margin-right: 200px;
}

.intro > p > span {
    color: #fca311;
}