/*
Variáveis para cores:
--fundo principal: #131315
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fundo-principal: #131315;
    --texto: #ffffff;
}

/*---------------------- MENU ----------------------*/

header {
    background-color: var(--fundo-principal);
    height:70px;
}

nav#menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav#menu li {
    margin: 20px;
}

nav#menu a{
    text-decoration: none;
    color: #8f8888f2;
    font-weight: bold;
    transition: 0.5s;
}

nav#menu a:hover{
    color: white;
}

/*---------------------- INÍCIO ----------------------*/

body {
    background-color: var(--fundo-principal);
    font-family: Arial, Helvetica, sans-serif;
}

section#ficha {
    display: flex;
    justify-content: center;
}

h1 {
    color: var(--texto);
}