

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fundo-principal: #131315;
    --texto: #ffffff;
}

/*---------------------- MENU ----------------------*/

header {
    background-color: var(--fundo-principal);
    height:70px;
}

nav#menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav#menu li {
    margin: 20px;
}

nav#menu a{
    text-decoration: none;
    color: #8f8888f2;
    font-weight: bold;
    transition: 0.5s;
}

nav#menu a:hover{
    color: white;
}

/*---------------------- INÍCIO ----------------------*/

body {
    background-color: var(--fundo-principal);
    font-family: 'Inter', Arial, sans-serif;
}

#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;   /* LIMITE DE LARGURA */
    margin: 0 auto;      /* CENTRALIZA */

    height: 70vh;
    padding: 0 40px;
}

.hero-name{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--texto);
}

.hero-name h1 {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.8;
    font-weight: 300;
    text-transform: uppercase;
}

.hero-text {
    max-width: 900px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hero-text h2 {
    font-size: 80px;
    font-weight: 800;
    line-height: 1.1;
    color: #d9d9d9;
}

.hero-text button {
    margin-top: 40px;
    padding: 14px 28px;

    font-family: 'Inter', Arial, sans-serif;
    background-color: var(--fundo-principal);
    color: var(--texto);
    padding: 15px;
    border-radius: 10px;
    border: solid white;
    border-width: 2px 2px 7px 8px;
    


}

.hero-text button:hover {
    cursor: pointer;
    border-width: 6px 5px 4px 4px  ;
    transition: 0.2s;
}